
.c-page {

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 0;
    padding: 25vh 0 6rem;
    max-width: 790px;

    @media(max-width: 767px) {
      padding: 145px 0 16px;
    }
  }

  &__headline {
    font-size: 14px;
    font-weight: 400;
    color: #26A0F8;

    @media(max-width: 767px) {
      font-size: 1.143rem;

    }
  }

  &__content {
    line-height: 1.4;
    margin-bottom: 0;
    font-size: 28px
  }

  &__text {
    margin: 16px 0 0 0;
  }
}


